/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    background: #ccc;
    color: #000;
    padding: .2rem .5rem;
    box-sizing: content-box;
    margin: 0 -15px 0 -15px;
    text-align: center;
    background: red;
    color: white;
}

.browserupgrade > a:link, .browserupgrade > a:visited {
    color: white;
    text-decoration: underline;
}

.browserupgrade > a:hover {
    font-weight: 600;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    background: #B5B5B5 !important;
}

#app {
    background: #fff;
    box-shadow: 1px 1px 10px 0 #464646;
    overflow: hidden;
    min-height: 100vh;
}

#main-brand {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    font-family: 'Pacifico', cursive;
    font-size: 1.6rem;
    height: 100%;
    margin-right: 1rem;
    color: white;
}

#main-brand > img {
    width: 2.3rem;
    height: auto;
}

#main-brand > span {
    margin-left: .5rem;
    margin-bottom: .2rem;
    display: inline-flex;
    align-items: center;
}

#mainmenu {
    margin-left: -15px;
    margin-right: -15px;
}

.editor-form {
    max-width: 40rem;
}

.form-check-admin {
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 1rem;
    align-items: center;
}

.list-actions {
    display: flex;
    flex-direction: column;
}

.alert-top {
    margin: 0 -15px 0 -15px;
    margin-bottom: 0 !important;
}

label[for="categories-ids"], label[for="products-ids"], label[for="user-id"] {
    display:none!important;
}

#imgContainer {
    max-height: 500px !important;
}

#selectedImageBig {
    width: 300px;
    height: 300px;
    max-width: 300px;
    max-height: 300px;
    box-shadow: 1px 1px 10px 1px #888;
}

#selectedImageSmall {
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    box-shadow: 1px 1px 10px 1px #888;
}

.imageContainerFF {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    padding: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imageContainerFF > img {
    display: block;
}

#tooltips-container {
    position: fixed;
    width: auto;
    height: auto;
    background: transparent;
    bottom: 0;
    right: 0;
    transition: height .3s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 99;
}

.app-tooltip {
    display: flex;
    float: right;
    flex-direction: row;
    background: #292929;
    color: #fff;
    box-sizing: border-box;
    padding: .5rem;
    font-family: sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    box-shadow: 1px 1px 10px 0 black;
    opacity: 1;
    max-width: 98vw;
    z-index: 999;
}

.app-tooltip > span {
    margin-left: .2rem;
    width: 100%;
}

.app-tooltip-close {
    margin-top: -.5rem;
    margin-bottom: -.5rem;
    margin-right: -.5rem;
    width: 2.2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.app-tooltip-close > i {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
}

.btn-group.d-flex.flex-row.flex-wrap > .btn {
    margin-bottom: .2rem;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}