/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    background: #ccc;
    color: #000;
    padding: .2rem .5rem;
    box-sizing: content-box;
    margin: 0 -15px 0 -15px;
    text-align: center;
    background: red;
    color: white;
}

.browserupgrade > a:link, .browserupgrade > a:visited {
    color: white;
    text-decoration: underline;
}

.browserupgrade > a:hover {
    font-weight: 600;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.alert-top {
    margin: 0 -15px 0 -15px;
    margin-bottom: 0 !important;
}


.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

.list-group.checked-list-box li {
    padding: .2rem;
}

.list-group-item-headred {
    background-color: #cf5757!important;
    border: 1px solid #cf5757!important;
    color: #fff!important;
}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

body {
    background: url(/img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
    background-attachment: fixed;
}

.btn-pastel-red {
    background: #e06e6e;
    color: #fff!important;
}

.btn-pastel-red:hover {
    background: #e98686;
}

.btn-pastel-red:active {
    background: #eb3939;
}

.text-shadow-black {
    text-shadow: 1px 1px 1px rgba(0,0,0,1) ;
}

#jumbo-main {
    background: url(/img/Vinyl-Rip.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#app {
    position: relative;
    box-shadow: 1px -4px 10px 1px #f06b6b;
    min-height: 67.2vh;
    background: #ffffff;
    margin-bottom: 0!important;
    padding-bottom: 2rem!important;
}

#footer-container {
    background: #ffffff;
    box-shadow: 1px 4px 10px 1px #f06b6b;
    margin-top: -4rem!important;
    min-height: 33vh;
}

#mainmenu {
    background: #cf5757;
    //border-radius: 4px;
    //margin-top: -4px;
	margin: 0 -15px 10px -15px;
}

#footer {
    font-size: 0.8rem;
    border-top: 5px solid #CDB380;
    background: #b42424 none repeat scroll 0% 0%;
    padding-top: 10px;
    margin: 60px -15px 0 -15px;
    clear: both;
    color: #AAA;
    display: block;
}

.badge-my1 {
    margin: 0.1rem;
    white-space: pre-wrap!important;
    word-wrap: break-word;
    max-width: 100%;
    color: #fff;
    background-color: #f17985;
}

#main-brand {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    font-family: 'Pacifico', cursive;
    font-size: 1.6rem;
    height: 100%;
    margin-top: -.5rem;
    margin-bottom: -.5rem;
}

#main-brand > img {
    width: 2.3rem;
    height: auto;
}

#main-brand > span {
    margin-left: .5rem;
    margin-bottom: .2rem;
    display: inline-flex;
    align-items: center;
}

#jumbo-main > h1 {
    word-wrap: break-word;
}

#footer .widgettitle {
    margin: 0px;
    padding: 0px 0px 15px;
    border-bottom: medium none;
}
#footer h4 {
    color: #FFF;
}

#footer ul {
    list-style: outside none none;
}

#footer li {
    padding: 7px 0px;
    border-bottom: 1px dotted rgba(255, 159, 159, 0.2);
    margin: 0px;
}

#footer li a {
    color: #DDD;
}

#sub-floor {
    color: #AAA;
    background: #340303 none repeat scroll 0% 0%;
    padding: 10px 0px;
}

.vinyl-box {
    width: 170px;
    height: 269px;
    padding: 6px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
    box-shadow: 1px 1px 10px 0 #ecb9b9;
    transition: box-shadow .2s ease-in-out;
    margin: .3rem;
}

.vinyl-box:hover {
    box-shadow: 1px 1px 10px 0 #f06b6b;
}

.vinyl-box-card {
    display: block;
    min-width: 152px;
    min-height: 152px;
    width: 152px;
    height: 152px;
    line-height: 152px;
    text-align: center;
    background-color: #e8e8e8;
}

.vinyl-box-price {
    font-family: 'Pacifico', sans-serif;
    font-size: 1rem;
}

.vinyl-box-heading, .vinyl-box-heading > span {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 1rem;
    width: 100%;
    font-size: 0.9rem;
}

.vinyl-box-heading > span {
    display: inline-block;
    text-align: center;
    line-height: 0.9rem;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.vinyl-box-rating {
  width: 170px;
  display: flex;
  height: 26px;
  margin-top: 8px;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 3px;
  font-size: 22px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FF2D2D;
  transition: all .25s;
}

input.star-2:checked ~ label.star:before {
  color: #FF6344;
  transition: all .25s;
}

input.star-3:checked ~ label.star:before {
  color: #FF9477;
  transition: all .25s;
}

input.star-3:checked ~ label.star:before {
  color: #EA6F5B;
  transition: all .25s;
}

input.star-4:checked ~ label.star:before {
  color: #FF8477;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FF7777;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

.searchrating {
    height: 23px;
    margin-top: 4px;
}

.searchrating .star {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 0px;
    height: 22px;
}

#tooltips-container {
    position: fixed;
    width: auto;
    height: auto;
    background: transparent;
    bottom: 0;
    right: 0;
    transition: height .3s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 99;
}

.app-tooltip {
    display: flex;
    float: right;
    flex-direction: row;
    background: #FF4949;
    color: #fff;
    box-sizing: border-box;
    padding: .5rem;
    font-family: sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    box-shadow: 1px 1px 10px 0 black;
    opacity: 1;
    max-width: 98vw;
    z-index: 999;
}

.app-tooltip > span {
    margin-left: .2rem;
    width: 100%;
}

.app-tooltip-close {
    margin-top: -.5rem;
    margin-bottom: -.5rem;
    margin-right: -.5rem;
    width: 2.2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.app-tooltip-close > i {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
}

@media (max-width: 425px) {
    #jumbo-main h1 {
        font-size: 2.9rem;
    }

    #jumbo-main hr {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
}

.slider-handle {
    background-color: #b73333!important;
    background-image: -webkit-linear-gradient(top,#b73333 0,#a42e2e 100%)!important;
    background-image: -o-linear-gradient(top,#337ab7 0,#2e6da4 100%)!important;
    background-image: linear-gradient(to bottom,#b73333 0,#a42e2e 100%)!important;
}

.accordion-link:hover {
    color: #EB7979!important;
}

.accordion-link:link {
    color: #e06e6e!important;
}

.accordion-link:visited {
    color: #E44D4D!important;
}

.cart-product {
    box-shadow: 1px 1px 10px 0px #e69d9d;
    border-radius: 10px;
    min-height: 170px;
    transition: all .4s ease;
}

.cart-product:hover {
    box-shadow: 1px 1px 10px 1px #f38383;
}

.cart-sidebar > .btn {
    word-wrap: normal;
    white-space: pre-wrap;
}

@media (min-width: 576px) {
    .cart-product > .poster {
        max-width: 171px;
    }
}

.big-poster {
    box-shadow: 1px 1px 10px 0 #f06b6b;
}

.order {
    box-shadow: 1px 1px 10px 0px #e69d9d;
    border-radius: 10px;
    transition: all .4s ease;
    max-width: 50rem;
}

.order:hover {
    box-shadow: 1px 1px 10px 1px #f38383;
}