<?php
use Cake\Cache\Cache;
use Cake\Core\Configure;
use Cake\Core\Plugin;
use Cake\Datasource\ConnectionManager;
use Cake\Error\Debugger;
use Cake\Network\Exception\NotFoundException;

$this->layout = false;
$this->set('title', 'Лимон');
?>
<? $this->extend('/Layout/default') ?>
<?= $this->element('MainMenu'); ?>
<div class="d-flex flex-row align-items-center align-self-center justify-content-center w-100 h-100 mt-4">
    <style>.lemon{width:20rem;height:20rem;background:#ff0;border:1px solid;border-radius:15rem 1rem}</style>
    <div class="lemon"></div>
</div>