<?php
$this->layout = false;
$preTitle = 'Оферта';
?>

<? $this->extend('/Layout/default') ?>
<?= $this->element('MainMenu'); ?>
<div class="row p-4">
	<div class="col-12 p-0">
	    <h1>Публичная оферта</h1><br/>
	    <h2>1. Общие условия и положения</h2><br/>
	    <p>Здесь текст оферты, <b>полужирные</b>, <i>курсивные</i>, <u>подчёркнутые</u>, <s>зачёркнутые</s> вставки.</p>
	</div>
</div>